@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

h1 {
    animation-duration: 3s;
    animation-name: slideInLeft;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;

    transform: translateX(-150px);
}