@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

h1 {
    animation-duration: 3s;
    animation-name: slideInLeft;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;

    transform: translateX(-150px);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background: black;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}